.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.align-content-center {
  align-content: center;
}

.justify-between {
  justify-content: space-between;
}