.tw-daisy-hero {
  display: grid;
  width: 100%;
  place-items: center;
  background-size: cover;
  background-position: center;
}

.tw-min-h-screen {
  min-height: 100vh;
}

@media screen and (min-width: 1024px) {
  .lg\:tw-flex-row-reverse {
    flex-direction: row-reverse;
  }
}

.tw-justify-between {
  justify-content: space-between;
}

.tw-flex-col {
  flex-direction: column;
}

.tw-daisy-hero-content {
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80rem;
    gap: 1rem;
    padding: 1rem;
}

.tw-daisy-hero > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.tw-daisy-avatar {
  position: relative;
  display: inline-flex;
}

.tw-font-bold {
  font-weight: 700;
}

.tw-text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.tw-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.tw-py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.tw-cursor-default {
  cursor: default;
}

.tw-mr-2 {
  margin-right: 0.5rem;
}

.tw-daisy-btn-primary {
  --tw-border-opacity: 1;
  border-color: hsl(var(--p) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--p) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--pc) / var(--tw-text-opacity));
  outline-color: hsl(var(--p) / 1);
}

.tw-daisy-btn {
  display: inline-flex;
  flex-shrink: 0;
  /* cursor: pointer; */
  /* -webkit-user-select: none; */
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* border-color: transparent; */
  /* border-color: hsl(var(--b2) / var(--tw-border-opacity)); */
  text-align: center;
  /* transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter; */
  /* transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter; */
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: var(--rounded-btn, 0.5rem);
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  /* line-height: 1.25rem; */
  line-height: 1em;
  min-height: 3rem;
  gap: 0.5rem;
  font-weight: 600;
  text-decoration-line: none;
  border-width: var(--border-btn, 1px);
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  text-transform: var(--btn-text-case, uppercase);
  /* --tw-border-opacity: 1; */
  /* --tw-bg-opacity: 1; */
  /* background-color: hsl(var(--b2) / var(--tw-bg-opacity)); */
  /* --tw-text-opacity: 1; */
  /* color: hsl(var(--bc) / var(--tw-text-opacity)); */
  /* outline-color: hsl(var(--bc) / 1); */
}
